{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'Security/icon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'Security/icon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'Security/icon/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'Security/icon/site.webmanifest' %}">
		<link rel="mask-icon" href="{% static 'Security/icon/safari-pinned-tab.svg' %}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<title>SECURIFY | ABOUT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'Security/assets/css/main.css' %}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">SECURIFY</a></div>
				<a href="#menu">MENU</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/start">Get Started</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>SECURIFY</p>
						<h2>ABOUT</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>FAQ</p>
								<h2>WHO WE ARE</h2>
							</header>
							<p>SECURIFY is an online web server that detects potentially compromising information in professional and personal emails. In the today's world, internet security is more important than ever, yet many do not understand the potential risks malicious third-party users monopolize on. Our hope is that, after using our services, individuals will be better equipped to protect valuable information.</p>

							<p>SECURIFY is powered by the Django web framework to fully integrate our algorithms and website user-interface. By blending HTML, CSS, JavaScript, and Python, SECURIFY uses a diverse set of languages to create a powerful and beautiful site.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://twitter.com/?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'Security/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'Security/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'Security/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'Security/assets/js/util.js' %}"></script>
			<script src="{% static 'Security/assets/js/main.js' %}"></script>

	</body>
</html>